.GameLengthContainer
{
  width: 100%;
  height: 100%;
  flow-children: down;
}

#GameLengthDisplayContainer
{
  width: 100%;
  height: 50%;
}

#GameLengthDisplay
{
  font-size: 80px;
  color: white;
  text-align: center;
  horizontal-align: center;
  vertical-align: bottom;
  padding-bottom: 10px;
  transform: scaleX(2) scaleY(2);
  opacity: 0;
}

#FirstToContainer
{
  width: 100%;
  height: 50%;
  horizontal-align: center;
}

#FirstTo
{
  font-size: 60px;
  color: white;
  text-align: center;
  horizontal-align: center;
  vertical-align: top;
  padding-top: 20px;
  transform: scaleX(2) scaleY(2);
  opacity: 0;
}
