.PortraitContainer
{
  horizontal-align: center;
  height: 5%;
  width: 80%;
  flow-children: right;
}

#RadiantHeroes
{
  width: 40%;
  flow-children: right;
}

.BlankSpace
{
  width: 20%;
}

#DireHeroes
{
  width: 40%;
  flow-children: right;
}

.HeroPortrait
{
  width: 12.5%;
  height: width-percentage(56%);
}
