.ScoreboardCenter
{
  width: 20%;
  height: 10%;

  margin-top: 3px;

  color: white;

  font-size: 36px;

  flow-children: right;
  horizontal-align: center;
}

#RadiantScore
{
  margin-left: 50px;
  width: 200px;
}

.Blank
{
  width: 10%;
}

#DireScore
{
  margin-left: 10px;
  width: 200px;
}
